@import "normalize.css";

body {
  height: 50%;
    width: 60%;

    background-image: url("https://res.cloudinary.com/teepublic/image/private/s--ecodLK39--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1565157970/production/designs/5535408_0.jpg");
}

h1, h2 {
  color: White;
  text-align: left;
}

p {
  color: White;
}

table, td,  th {
    border: 1px solid white;
    border-collapse: collapse;
}

td, th {
    width: 200px;
}

th {
  color: White;
}

td {
  color: White;
}

a {
  color: White;
}

.code {
  color: White;
}

li {
  color: White;
}
